---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Screenshots from '../components/Screenshots.astro';
import AdditionalFeatures from '../components/AdditionalFeatures.astro';
import Permissions from '../components/Permissions.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Menu Volume - System & Music volume control in your menu bar"
  description="Control Mac and Music volumes separately and independently from your menu bar. Two sliders for complete control."
>
	<main>
		<Hero />
		<Features />
		<Screenshots />
		<AdditionalFeatures />
		<Permissions />
		<CTA />
		<Footer />
	</main>
</Layout>
